.task-container {
  background-color: #5F7161;
  margin: 8px 0;
  padding: 15px 20px;
  display: flex;
  border-radius: 5px;
  justify-content: space-between;
  color: #eee;
  align-items: center;
}
.task-title {
  cursor: pointer;
}

.buttons-container {
  width: 30%;
  display: flex;
  justify-content: flex-end;
}

.remove-task-button,
.view-task-details-button {
  background-color: #5F7161;
  border: none;
  font-size: 24px;
  color: #D9A693;
  margin: 0 5px;
}
